<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>ECharts</title>
    <!-- 引入 echarts.js -->
    <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/echarts-all-3.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.js"></script>
</head>
<body>
<!-- 为ECharts准备一个具备大小（宽高）的Dom -->
<div id="main" style="width: 100%;height:400px;"></div>
<script type="text/javascript">
    // 基于准备好的dom，初始化echarts实例
    $.post("echarts",function (data) {
        console.log(data)
        var parseJSON = $.parseJSON(data);
        var list = parseJSON.echarts;
        var registered = list[0];
        var linkman =  list[1];
        var information =  list[2];
        var pd = list[3];
        var myChart = echarts.init(document.getElementById('main'));
        // 指定图表的配置项和数据
        var option = {
            tooltip: {          //聚焦触发的效果，详情可参见。全局设置
                trigger: 'axis',
                axisPointer: {
                    type: 'cross',
                    crossStyle: {
                        color: '#f8f1ff'
                    }
                },
                formatter: function(params, ticket, callback) {
                    var res = '' + params[0].name;
                    $.ajax({
                        url:"queryResult",
                        data:{"data":params[0]}
                    })
                    for (var i = 0, l = params.length; i < l; i++) {
                        console.log(pd[i]+"-"+params[i].value)
                        if(pd[i]!=1) {
                            res += '<br><span style="color:red;">' + params[i].seriesName + ' : ' + params[i].value +'%'+ '</span>';
                        }
                        else {
                            res += '<br>' + params[i].seriesName + ' : ' + params[i].value+'%';
                        }

                    }
                    setTimeout(function() {
                        // 仅为了模拟异步回调
                        callback(ticket, res);
                    }, 100)
                    return 'loading';
                }
            },
            legend: {           //图表图例注释
                // bottom:'auto',
                // right: '10%' ,
                x: 'center',
                y: 'bottom',
                data: ['注册数', '注册-联系人', '联系人-身份认证', '人脸识别转换', '注册-调用寻囊', 'OCR整体转换率', '首借授信通过数', '首借确认转换', '绑卡数']
            },
            xAxis: [        //x轴属性设置，需要详细了解该模块属性配置，可参见http://echarts.baidu.com/option.html#xAxis
                {
                    type: 'category',           //表示类型为科目类
                    // data: ["2020/11/29", "2020/11/30", "2020/12/01", "2020/12/02", "2020/12/03", "2020/12/04", "2020/12/05", "2020/12/06", "2020/12/07"]         //坐标轴的值
                    data:linkman,
                }
            ],
            yAxis: [                            //（可以有多个坐标轴），数组中的对象位置决定了yAxisIndex的值（yAxisIndex会在series中用到）
                {
                    type: 'value',              //表示属性为value类
                    minInterval: 1,             //坐标最小划分单位，设置为1表示坐标轴节点保留整数
                    splitNumber: 4,             //指定坐标轴节点分割数（非强制），会按照预算自行调整最合适的分割数
                    axisLine: {                  //表示坐标轴是否显示
                        show: false
                    },
                    splitLine: {                //表示分割线属性设置
                        lineStyle: {            //表示分割线的样式
                            type: 'solid'         //实线
                        }
                    },
                    axisLabel: {
                        formatter: '{value}'     //表示所有值得单位
                    }
                },
                {
                    type: 'value',
                    minInterval: 1,
                    splitNumber: 4,
                    splitLine: {
                        show: false
                    },
                    axisLine: {
                        show: false
                    },
                    axisLabel: {
                        formatter: '{value} %'
                    }
                }
            ],
            series: [           //坐标轴实际数据内容
                //注册数
                {
                    name: '注册数',             //数据名称
                    type: 'bar',                 //数据表现形式（bar为柱形图，line为折线图）
                    barWidth: '20%',             //柱形图宽度
                    itemStyle: {                //柱子的属性设置
                        normal: {
                            color: '#5fabff',   //柱子的颜色设置
                        }
                    },
                    //data: [500, 900, 400, 600, 1500, 200, 520, 400, 900]    //该条数据对应一条记录
                    data:registered
                },
                //注册-联系人
                {
                    name: '注册-联系人',
                    type: 'line',            //折线图
                    yAxisIndex: 1,
                    symbolSize: 10,
                    symbol: 'circle',
                    itemStyle: {
                        normal: {
                            color: '#ED7D31',
                            lineStyle: {
                                color: '#ED7D31'
                            }
                        }
                    },
                    data: [15, 20, 30, 45, 63, 12, 20, 23.4, 23.0, 106.5, 125.0, 186.2]
                },
                //联系人-身份认证
                {
                    name: '联系人-身份认证',
                    type: 'line',            //折线图
                    yAxisIndex: 1,
                    symbolSize: 10,
                    symbol: 'circle',
                    itemStyle: {
                        normal: {
                            color: function (params){
                                for (var i = 0, l = params.length; i < l; i++) {
                                    if(i == 1) {
                                        if(params[i].value<30) {
                                            return "#EC1E19"
                                        }
                                        else {
                                            return "#081364"
                                        }
                                    }
                                    else {
                                        return "#081364"
                                    }

                                }
                                return '#EC1E19'
                            },
                            lineStyle: {
                                color:function (){
                                    return '#081364'
                                }
                            }
                        }
                    },
                    // data: [52, 30, 40, 40, 53, 22, 20, 29.4, 53.0, 126.5, 165.0, 126.2]
                    data: information,
                },
                //人脸识别转换
                {
                    name: '人脸识别转换',
                    type: 'line',            //折线图
                    yAxisIndex: 1,
                    symbolSize: 10,
                    symbol: 'circle',
                    itemStyle: {
                        normal: {
                            color: '#FFC000',
                            lineStyle: {
                                color: '#FFC000'
                            }
                        }
                    },
                    data: [60, 40, 50, 70, 53, 82, 30, 29.4, 53.0, 126.5, 165.0, 126.2]
                },
                //注册-调用寻囊'
                {
                    name: '注册-调用寻囊',
                    type: 'line',            //折线图
                    yAxisIndex: 1,
                    symbolSize: 10,
                    symbol: 'circle',
                    itemStyle: {
                        normal: {
                            color: '#FFC000',
                            lineStyle: {
                                color: '#FFC000'
                            }
                        }
                    },
                    data: [60, 40, 50, 70, 53, 82, 30, 29.4, 53.0, 126.5, 165.0, 126.2]
                },
                //OCR整体转换率
                {
                    name: 'OCR整体转换率',
                    type: 'line',            //折线图
                    yAxisIndex: 1,
                    symbolSize: 10,
                    symbol: 'circle',
                    itemStyle: {
                        normal: {
                            color: '#70AD47',
                            lineStyle: {
                                color: '#70AD47'
                            }
                        }
                    },
                    data: [50, 70, 50, 70, 93, 122, 430, 29.4, 73.0, 166.5, 75.0, 76.2]
                },
                //首借授信通过数
                {
                    name: '首借授信通过数',
                    type: 'line',            //折线图
                    yAxisIndex: 1,
                    symbolSize: 10,
                    symbol: 'circle',
                    itemStyle: {
                        normal: {
                            color: '#255E91',
                            lineStyle: {
                                color: '#255E91'
                            }
                        }
                    },
                    data: [100, 140, 150, 170, 153, 82, 130, 129.4, 153.0, 26.5, 65.0, 26.2]
                },
                //首借确认转换
                {
                    name: '首借确认转换',
                    type: 'line',            //折线图
                    yAxisIndex: 1,
                    symbolSize: 10,
                    symbol: 'circle',
                    itemStyle: {
                        normal: {
                            color: '#9E480E',
                            lineStyle: {
                                color: '#9E480E'
                            }
                        }
                    },
                    data: [67, 90, 60, 40, 33, 8, 30, 27.4, 139.0, 180.5, 175.0, 96.2]
                },
                //绑卡数
                {
                    name: '绑卡数',
                    type: 'line',            //折线图
                    yAxisIndex: 1,
                    symbolSize: 10,
                    symbol: 'circle',
                    itemStyle: {
                        normal: {
                            color: '#636363',
                            lineStyle: {
                                color: '#636363'
                            }
                        }
                    },
                    data: [70, 20, 30, 50, 63, 52, 31, 19.4, 63.0, 26.5, 65.0, 20.2]
                },
            ],

            grid: {             //设置网格属性
                left: '10%',     //网格距离容器左侧的距离
                right: '10%',       //网格距离容器右侧的距离
                borderWidth: 1
            }
        };
        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
    });
</script>
</body>
</html>